/* FC Webicons by Fairhead Creative http://fairheadcreative.com */

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Github */
.no-svg .fc-webicon.github { background: url("images/fc-webicon-github-m.png"); }
.no-svg .fc-webicon.github.large { background: url("images/fc-webicon-github.png"); }
.no-svg .fc-webicon.github.small { background: url("images/fc-webicon-github-s.png"); }
.svg .fc-webicon.github { background: url("images/fc-webicon-github.svg"); }

/* Google+ */
.no-svg .fc-webicon.googleplus { background: url("images/fc-webicon-googleplus-m.png"); }
.no-svg .fc-webicon.googleplus.large { background: url("images/fc-webicon-googleplus.png"); }
.no-svg .fc-webicon.googleplus.small { background: url("images/fc-webicon-googleplus-s.png"); }
.svg .fc-webicon.googleplus { background: url("images/fc-webicon-googleplus.svg"); }

/* LinkedIn */
.no-svg .fc-webicon.linkedin { background: url("images/fc-webicon-linkedin-m.png"); }
.no-svg .fc-webicon.linkedin.large { background: url("images/fc-webicon-linkedin.png"); }
.no-svg .fc-webicon.linkedin.small { background: url("images/fc-webicon-linkedin-s.png"); }
.svg .fc-webicon.linkedin { background: url("images/fc-webicon-linkedin.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("images/fc-webicon-twitter-m.png"); }
.no-svg .fc-webicon.twitter.large { background: url("images/fc-webicon-twitter.png"); }
.no-svg .fc-webicon.twitter.small { background: url("images/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("images/fc-webicon-twitter.svg"); }